In [1]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import cosine

In [2]:
##read from file##
train_data = pd.DataFrame(pd.read_csv('train.csv'))
test_data = pd.DataFrame(pd.read_csv('test.csv'))

,ID,Age?,Gender,Preferred Genres,Rating [Rogue One/Star Wars],Rating [Fight Club],Rating [The Lord of the Rings],Rating [Trolls],Rating [Despicable Me],Rating [Kubo],Rating [The hangover],Rating [Captain America],Rating [The big Lebowski],Rating [Almost famous],Rating [The hunger games],Rating [Pulp Fiction],Rating [Sing ],Rating [500 days of Summer],Rating [Twilight],Rating [Lala Land]
0,1,30-40,Female,"Comedy, Independent, Romantic",NaN,5.0,3.0,NaN,NaN,NaN,2.0,NaN,4.0,4.0,4.0,4.0,4.0,3.0,NaN,5.0
1,2,20-30,Female,"Comedy, Sci-Fi & Fantasy, Romantic",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,1.0
2,3,20-30,Male,"Comedy, Action, Sci-Fi & Fantasy",4.0,5.0,5.0,4.0,NaN,3.0,2.0,4.0,5.0,5.0,3.0,5.0,4.0,4.0,1.0,3.0

In [3]:
##preserve 'ID' column for output
output = test_data['ID']

In [4]:
##drop useless columns##
train_data = train_data.drop(['Timestamp','ID','Age?','Gender','Preferred Genres'],1)
test_data =test_data.drop(['ID','Age?','Gender','Preferred Genres'],1)

,Rating [Rogue One/Star Wars],Rating [Fight Club],Rating [The Lord of the Rings],Rating [Trolls],Rating [Despicable Me],Rating [Kubo],Rating [The hangover],Rating [Captain America],Rating [The big Lebowski],Rating [Almost famous],Rating [The hunger games],Rating [Pulp Fiction],Rating [Sing ],Rating [500 days of Summer],Rating [Twilight],Rating [Lala Land]
0,NaN,5.0,3.0,NaN,NaN,NaN,2.0,NaN,4.0,4.0,4.0,4.0,4.0,3.0,NaN,5.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,1.0
2,4.0,5.0,5.0,4.0,NaN,3.0,2.0,4.0,5.0,5.0,3.0,5.0,4.0,4.0,1.0,3.0

In [5]:
##drop whole row if "Despicable Me" is note rated 
##-> because that cannot be used to calculate the collaborated filter
train_data = train_data[train_data['Rating [Despicable Me]']>0]

,Rating [Rogue One/Star Wars],Rating [Fight Club],Rating [The Lord of the Rings],Rating [Trolls],Rating [Despicable Me],Rating [Kubo],Rating [The hangover],Rating [Captain America],Rating [The big Lebowski],Rating [Almost famous],Rating [The hunger games],Rating [Pulp Fiction],Rating [Sing ],Rating [500 days of Summer],Rating [Twilight],Rating [Lala Land]
1,5.0,NaN,5.0,4.0,5.0,4.0,4.0,4.0,3.0,3.0,3.0,3.0,3.0,5.0,5.0,5.0
2,5.0,5.0,5.0,NaN,2.0,3.0,2.0,5.0,5.0,5.0,2.0,5.0,NaN,NaN,3.0,5.0
3,4.0,5.0,4.0,NaN,5.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,3.0,4.0,2.0,3.0
4,NaN,NaN,4.0,NaN,4.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5.0
6,5.0,NaN,NaN,NaN,5.0,NaN,NaN,5.0,NaN,NaN,5.0,NaN,5.0,NaN,5.0,5.0
8,5.0,5.0,5.0,3.0,4.0,5.0,3.0,4.0,3.0,NaN,4.0,5.0,3.0,4.0,2.0,5.0
9,3.0,4.0,4.0,4.0,4.0,5.0,NaN,NaN,NaN,3.0,4.0,3.0,NaN,4.0,4.0,4.0
10,5.0,5.0,5.0,3.0,4.0,5.0,2.0,4.0,3.0,3.0,4.0,5.0,3.0,4.0,2.0,5.0
11,NaN,NaN,2.0,NaN,5.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,4.0,NaN,5.0,NaN,5.0,5.0,3.0,5.0,NaN,NaN,4.0,4.0,NaN,NaN,5.0,NaN

In [6]:
##normalized by mean in each row
mean = train_data.mean(1)
train_data = train_data.sub(mean,axis=0)
mean_test = test_data.mean(1)
test_data = test_data.sub(mean_test,axis=0)

In [10]:
##fill in NaN with 0. 0 can help simularity calculation and no harm
train_data = train_data.fillna(0)
test_data = test_data.fillna(0)
##reset index of train_data, let the FOR Loop calculation easier
train_data = train_data.reset_index(drop=True)

,Rating [Rogue One/Star Wars],Rating [Fight Club],Rating [The Lord of the Rings],Rating [Trolls],Rating [Despicable Me],Rating [Kubo],Rating [The hangover],Rating [Captain America],Rating [The big Lebowski],Rating [Almost famous],Rating [The hunger games],Rating [Pulp Fiction],Rating [Sing ],Rating [500 days of Summer],Rating [Twilight],Rating [Lala Land]
0,0.933333,0.000000,0.933333,-0.066667,0.933333,-0.066667,-0.066667,-0.066667,-1.066667,-1.066667,-1.066667,-1.066667,-1.066667,0.933333,0.933333,0.933333
1,1.000000,1.000000,1.000000,0.000000,-2.000000,-1.000000,-2.000000,1.000000,1.000000,1.000000,-2.000000,1.000000,0.000000,0.000000,-1.000000,1.000000
2,0.222222,1.222222,0.222222,0.000000,1.222222,0.000000,0.000000,0.222222,0.000000,0.000000,0.000000,0.000000,-0.777778,0.222222,-1.777778,-0.777778
3,0.000000,0.000000,-0.200000,0.000000,-0.200000,0.000000,0.000000,0.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.200000,0.800000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [11]:
##calculate the simularity and put it into "sim_matrix" array
##i: iteration in test_data
##j: iteration in train_data
sim_matrix = np.zeros((len(test_data.index), len(train_data.index)))
for i in range(0,len(test_data.index)):
    for j in range(0,len(train_data.index)):
        sim_matrix[i][j] = 1-cosine(train_data.loc[j,:],test_data.loc[i,:])
        
sim_matrix

C:\Users\DaveWei\Anaconda3\lib\site-packages\scipy\spatial\distance.py:644: RuntimeWarning: invalid value encountered in double_scalars
  dist = 1.0 - uv / np.sqrt(uu * vv)

array([[-0.14480743,  0.41761455,  0.00293256, ..., -0.06431331,
         0.0125477 , -0.14231919],
       [ 0.        ,  0.        ,  0.44556639, ..., -0.50863196,
         0.13113263, -0.09922343],
       [-0.32943802,  0.67972942,  0.58889125, ..., -0.1326175 ,
         0.25601996, -0.13068497],
       ...,
       [-0.00530413,  0.17627662, -0.33573756, ..., -0.01620809,
        -0.37793824,  0.15658726],
       [-0.39518459, -0.11912328,  0.40292769, ..., -0.19866337,
         0.11651812,  0.11368349],
       [-0.07328253,  0.36808682,  0.42240606, ...,  0.20247289,
         0.22751152,  0.00841334]])

In [12]:
##using user-base collaberative filter scheme to calculate the ratings
##for each test item(i), summating positive simularity items(j) from trainning data(j=0,1,2,...,total valid data)
for i in range(0,len(test_data.index)):
    rating = np.zeros(1)
    sumsim = np.zeros(1)
    for j in range(0,len(train_data.index)):
        ##choose only positive sumularity items
        if(sim_matrix[i][j]>0):
            ##summating "ratings *simularity" in traiining data 
            rating += sim_matrix[i][j]*train_data.loc[j,'Rating [Despicable Me]']
            ##also summating simularities
            sumsim += sim_matrix[i][j]
    ##for each test item(i), calculate "(ratings*simularity)/simularity_sum" as the predict rating
    test_data.loc[i,'Rating [Despicable Me]']= rating / sumsim

C:\Users\DaveWei\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in true_divide

In [13]:
##fill in NaN with 0. NaN means there is no enough simularity info to calculate its rating
test_data = test_data.fillna(0)

In [14]:
##add mean value back, becoming the normal rating scores
test_data = test_data.add(mean_test,axis=0)

In [15]:
##concatenate ID and rating as example format
output = pd.concat([output, test_data['Rating [Despicable Me]']],axis=1)

In [16]:
output.to_csv('rating.csv', index=False)